# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/.idea.Giovanni.iml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../../../:\Users\giova\Desktop\NABA\SECONDO ANNO\NEW MEDIA TECHN 2\GGJ\GGJ\Assets\Scripts\Giovanni\.idea\.idea.Giovanni.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
